@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>

<!-- Plotly charts containers -->
<p>
    ph
</p>
<div id="phChart"></div>
<p>
    el
</p>
<div id="elChart"></div>
<p>
    temp
</p>
<div id="temperatureChart"></div>

@section Scripts {
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Fetch data from the server
        async function fetchData() {
            const response = await fetch('/Automation/RequestContainerValues', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify('D32A78E8-8DEB-4B8E-AB63-09CE983C0398')
            });
            return await response.json();
        }

        // Plot data using Plotly
        async function plotData() {
            const data = await fetchData();

            // Separate data by reading type
            const phData = data.filter(d => d.readingType === 1).map(d => ({ x: new Date(d.time), y: d.reading }));
            const elData = data.filter(d => d.readingType === 2).map(d => ({ x: new Date(d.time), y: d.reading }));
            const temperatureData = data.filter(d => d.readingType === 4).map(d => ({ x: new Date(d.time), y: d.reading }));



            const phTrace = {
                x: phData.map(d => d.x),
                y: phData.map(d => d.y),
                mode: 'lines',
                name: 'PH'
            };

            const elTrace = {
                x: elData.map(d => d.x),
                y: elData.map(d => d.y),
                mode: 'lines',
                name: 'EL'
            };

            const temperatureTrace = {
                x: temperatureData.map(d => d.x),
                y: temperatureData.map(d => d.y),
                mode: 'lines',
                name: 'Temperature'
            };

            Plotly.newPlot('phChart', [phTrace]);
            Plotly.newPlot('elChart', [elTrace]);
            Plotly.newPlot('temperatureChart', [temperatureTrace]);
        }

        plotData();
    </script>
}
