@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">EndPoints</h1>

<div class="endpoint">
    <h2>Set Container Config</h2>
    <p>URL: <a href="https://localhost:7220/Automation/SetContainerConfig">https://localhost:7220/Automation/SetContainerConfig</a></p>
    <pre>
{
    "ContainerId": "9E5C1EF6-88AA-4B34-8635-1B9E4576EED2",
    "ValueType": 1,
    "DesiredValue": 2,
    "Margin": 0.5,
    "ActionTime": 100000
}
    </pre>
</div>

<div class="endpoint">
    <h2>Get Next Action</h2>
    <p>URL: <a href="https://localhost:7220/Microcontroller/GetNextAction">https://localhost:7220/Microcontroller/GetNextAction</a></p>
    <pre>"pythonArduino"</pre>
</div>

<div class="endpoint">
    <h2>Register New User</h2>
    <p>URL: <a href="https://localhost:7220/Automation/RegistNewUser">https://localhost:7220/Automation/RegistNewUser</a></p>
    <pre>
{
    "id": "",
    "userName": "Pedro",
    "userPassword": "teste123",
    "email": "teste123@teste.com",
    "permissions": 2,
    "containers": null,
    "super": false
}
    </pre>
</div>

<div class="endpoint">
    <h2>User Login</h2>
    <p>URL: <a href="https://localhost:7220/Automation/UserLogin">https://localhost:7220/Automation/UserLogin</a></p>
    <pre>
{
    "userName": "teste123",
    "email": "teste@teste.com",
    "password": "teste123"
}
    </pre>
</div>

<div class="endpoint">
    <h2>Request User Containers</h2>
    <p>URL: <a href="https://hydrogrowthmanager.azurewebsites.net/Automation/RequestUserContainers">https://hydrogrowthmanager.azurewebsites.net/Automation/RequestUserContainers</a></p>
    <pre>"8EB08444-2B3A-4BDD-A85E-90337AAB11F1"</pre>
</div>

<div class="endpoint">
    <h2>Request Container Values</h2>
    <p>URL: <a href="https://hydrogrowthmanager.azurewebsites.net/Automation/RequestContainerValues">https://hydrogrowthmanager.azurewebsites.net/Automation/RequestContainerValues</a></p>
    <pre>"D32A78E8-8DEB-4B8E-AB63-09CE983C0398"</pre>
</div>

<div class="endpoint">
    <h2>Request Container Desired Values</h2>
    <p>URL: <a href="https://hydrogrowthmanager.azurewebsites.net/Automation/RequestContainerDesiredValues">https://hydrogrowthmanager.azurewebsites.net/Automation/RequestContainerDesiredValues</a></p>
    <pre>"0EF9BFD1-18B9-4A11-B83E-2E265089FD1A"</pre>
</div>

<div class="endpoint">
    <h2>Request Container Microcontrollers</h2>
    <p>URL: <a href="https://localhost:7220/Automation/RequestContainerMicrocontrollers">https://localhost:7220/Automation/RequestContainerMicrocontrollers</a></p>
    <pre>"0EF9BFD1-18B9-4A11-B83E-2E265089FD1A"</pre>
</div>

<div class="endpoint">
    <h2>Request User Permissions</h2>
    <p>URL: <a href="#">RequestUserPermissions</a></p>
    <pre>"userId"</pre>
</div>

<p>
    https://localhost:7220/Automation/SetContainerConfig
</p>

<!-- Plotly charts containers -->
<div id="plotly-chart"></div>

@section Scripts {
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var data = [{
            x: [1, 2, 3, 4, 5],
            y: [1, 2, 4, 8, 16]
        }];

        var layout = {
            title: 'Sample Plotly Chart'
        };

        Plotly.newPlot('plotly-chart', data, layout);
    </script>
}
